h1 {
    position: fixed;
    top: 0%;
    transform: translateY(-50());
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
}

h3 {
    position: fixed;
    top: 6%;
    transform: translateY(-10());
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

body {
    background-color: rgba(237, 204, 87, 1);
    text-align: left;
}

.rectangleInfoseite {
    width: 90%;
    height: 85%;
    background-color: rgba(240, 224, 165, 1);
    position: fixed;
    top: 52%;
    left: 50%;
    z-index: -1;
    /* positions the element behind the other elements */
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.text1 {
    position: fixed;
    top: 10%;
    left: 10%;
}

.text2 {
    position: fixed;
    top: 10%;
    left: 65%;
}

button#fromInfosToStartseiteBtn {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 110px;
    height: 60px;
    background-image: url('Pictures/images.mrCompress.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(219, 219, 86);
    font-size: 18px;
    border: none;
    text-shadow: 3px 1px 1px #8a7f2f;
    border-radius: 10px;
}

button#fromInfosToStartseiteBtn:hover {
    border: 2px solid rgb(211, 133, 16);
    color: rgb(204, 204, 73);
    font-size: 18px;
    text-shadow: 3px 1px 1px #524900;
}

button#fromInfosToStartseiteBtn:active {
    border: 2px solid rgb(241, 183, 95);
    color: rgb(240, 240, 111);
    font-size: 18px;
}

.picture1 {
    position: fixed;
    top: 20%;
    left: 43%;
    border-radius: 3px;
    border-width: 3px;
}